.DS_Store
Library/
UserSettings/
obj/
Build/
GraphCaches/
GraphCaches.meta
Logs/
MemoryCaptures/
HoudiniEngineAssetCache/
HoudiniEngineAssetCache.meta
__pycache__/

Temp/
Temp.meta
_temp/
_temp.meta
*_tmp
*_tmp/
*_tmp.meta
*.blob
Recordings/

CMakeFiles/
CMakeCache.txt
.idea/
.vscode/
*.sln
*.csproj
*.sln.DotSettings.user
.cmake/
.vs/
.vsconfig

*.user
log.txt
*.log
heu_settings.ini
Packages/packages-lock.json
heu_session.txt
BurstAotSettings_*.json
RiderScriptEditorPersistedState.asset
